[*.cs]

# CA1000: Do not declare static members on generic types
dotnet_diagnostic.CA1000.severity = none

# CA1710: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1710.severity = none

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = none

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = none

# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1311: Static readonly fields should begin with upper-case letter
dotnet_diagnostic.SA1311.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1623: Property summary documentation should match accessors
dotnet_diagnostic.SA1623.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1000: Keywords should be spaced correctly
dotnet_diagnostic.SA1000.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1308: Variable names should not be prefixed
dotnet_diagnostic.SA1308.severity = none

# SA1203: Constants should appear before fields
dotnet_diagnostic.SA1203.severity = none

# SA1405: Debug.Assert should provide message text
dotnet_diagnostic.SA1405.severity = none

# SA1009: Closing parenthesis should be spaced correctly
dotnet_diagnostic.SA1009.severity = none

# SA1512: Single-line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = none

# SA1106: Code should not contain empty statements
dotnet_diagnostic.SA1106.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1011: Closing square brackets should be spaced correctly
dotnet_diagnostic.SA1011.severity = none

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none

# SA1010: Opening square brackets should be spaced correctly
dotnet_diagnostic.SA1010.severity = none

# SA1012: Opening braces should be spaced correctly
dotnet_diagnostic.SA1012.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1204: Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = none

# SA1206: Declaration keywords should follow order
dotnet_diagnostic.SA1206.severity = none

# SA1127: Generic type constraints should be on their own line
dotnet_diagnostic.SA1127.severity = none

# SA1500: Braces for multi-line statements should not share line
dotnet_diagnostic.SA1500.severity = none

# SA1502: Element must not be on a single line
dotnet_diagnostic.SA1502.severity = none

# SA1508: Closing braces should not be preceded by blank line
dotnet_diagnostic.SA1508.severity = none

# SA1008: Opening parenthesis should be spaced correctly
dotnet_diagnostic.SA1008.severity = none

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0022: Use block body for method
dotnet_diagnostic.IDE0022.severity = none

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0046.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# IDE0061: Use block body for local function
dotnet_diagnostic.IDE0061.severity = none

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = none

# IDE0042: Deconstruct variable declaration
dotnet_diagnostic.IDE0042.severity = none

# SA1313: Parameter names should begin with lower-case letter
dotnet_diagnostic.SA1313.severity = none

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# IDE0301: Simplify collection initialization
dotnet_diagnostic.IDE0301.severity = none

# IDE0024: Use block body for operator
dotnet_diagnostic.IDE0024.severity = none

# IDE0240: Remove redundant nullable directive
dotnet_diagnostic.IDE0240.severity = none

# IDE0028: Simplify collection initialization
dotnet_diagnostic.IDE0028.severity = none

# IDE0005: Remove unnecessary usings/imports
dotnet_diagnostic.IDE0005.severity = none

# xUnit2005: Do not use identity check on value type
dotnet_diagnostic.xUnit2005.severity = none
